<footer class="bg-dark-custom text-white text-center py-4 mt-auto">
    <div class="container">
        <p class="mb-0">Copyright &copy; 2025 GYM. Дем'янюк Д.Т. Всі права захищені</p>
        <small class="text-white-50">Розроблено з любов'ю до спорту.</small>
    </div>
</footer>