<nav class="navbar navbar-expand-lg bg-dark-custom sticky-top mb-4">
    <div class="container">
        <a class="navbar-brand" href="/">GYM</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon" style="filter: invert(1);"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav ms-auto align-items-center">
                {{#unless user}}
                    <a class="nav-link" href="/trainers">Тренери</a>
                    <a class="nav-link" href="/price">Прайс</a>
                    <a class="nav-link btn btn-primary-custom ms-2" href="/login">Вхід</a>
                {{/unless}}
                {{#if user}}
                    {{#if (isManager user)}}
                        <a class="nav-link text-warning fw-bold" href="/manager/dashboard">Розклад</a>
                        <a class="nav-link text-warning fw-bold" href="/manager/clients">Клієнти</a>
                        <a class="nav-link text-warning fw-bold" href="/manager/trainers">Тренери</a>
                        <span class="text-white-50 ms-3">| {{user.login}} |</span>
                    {{/if}}
                    {{#if (isTrainer user)}}
                        <a class="nav-link text-success fw-bold" href="/trainer/dashboard">Графік</a>
                        <span class="text-white-50 ms-3">| {{user.login}} |</span>
                    {{/if}}
                    {{#if (isClient user)}}
                         <a class="nav-link" href="/price">Прайс</a>
                         <a class="nav-link" href="/client/dashboard">Графік</a>
                         <a class="nav-link text-info fw-bold ms-2" href="/client/profile" title="Особистий кабінет">{{user.login}}</a>
                    {{/if}}
                    <a class="nav-link btn btn-primary-custom ms-2" href="/auth/logout">Вихід</a>
                {{/if}}
            </div>
        </div>
    </div>
</nav>